<!DOCTYPE html>
<html>

<head>
	<title></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
	<link rel="stylesheet" href="/stylesheets/common.css">
	<link rel="stylesheet" href="/stylesheets/detail.css">
	<script src="/javascripts/jq.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://cdn.bootcss.com/blueimp-md5/2.12.0/js/md5.min.js"></script>
</head>

<body>
	<div id="h-wrap">
		<div class="head">
			<div class="logo">个人博客</div>
			<ul id="starlist">
				<li><a href="/" id="selected">网站首页</a></li>
				<li class=""><a href="/about/">关于我</a></li>
				<li class=""><a href="/blog/">博客日记</a></li>
				<li class=""><a href="/share/">模板分享</a></li>
				<li class=""><a href="/study/">学无止境</a></li>
				<li class=""><a href="/e/tool/gbook/?bid=1">留言</a></li>
			</ul>
		</div>
	</div>
<div class="con">
		<div class="leftbox">
			<div class="infos">
				<div class="newsview">
					<h2 class="intitle">您现在的位置是：<a href="/">首页</a>&nbsp;&gt;&nbsp;<a href="/boke">博客日记</a></h2>
					<div class="news_infos">
						<p id="title-head"><%-detail.title %></p>
						<p><%-detail.con %></p>

						<p>SEO奋斗的这几年时间，个人博客网站百度排名也从之前的30页后，排到了第一页。期间有很多的不容易，但是都没有放弃过。入了这一行
							，就深深的喜欢上它。我喜欢一句话“冥冥中该来则来，无处可逃”。</p>

						<p>近几年我也发现个人博客排前几页的也有很多是我做过的模板，感谢各位站长的欣赏，我仔细看过他们的网站。他们在我原模板的基础上有修改，而且他们做的原创内容都是值得一读的。有时候甚至排名都超过了我个人博客网站的排名。
						</p>

						<p>现在很多人向我请教如何做好SEO，我想说的是，一是“代码”，一定要简单，布局要合理。二是“内容”，一定要有原创，伪原创也是可以的。三是“持续”，这是一个持续性过程，一定要有耐心，SEO不是马上生效的。
						</p>

						<p>自从入了这一行，也交到了不少朋友，QQ群也不断的壮大起来，280998807(交流群&nbsp;已满员)&nbsp;
							280998843（技术群），群里的小伙伴们也很积极的帮助新朋友解决问题，如果你想加入我们，这个大家庭的门，永远给你敞开！另外微信群已于2018.4.13日开通（已满100，只接受群主邀请，可加我个人微信进群
							。我的个人微信号 yangqq_1987）</p>

						<p><img alt=""
								src="http://www.yangqq.com/d/file/about/2018-07-07/7eaa7df34adc8dfdf2f544f62c3671a9.png"><br>
							<br>
							目前一些网络教学，培训机构，大学老师也会用青姐的模板，当做是案例来讲，我觉得非常荣幸，能通过他们的教学方式，让更多的人，获得学习方法，少走一些弯路。但是也存在这样一些人，公开售卖在淘宝、或者其他网站，如果你看到有类似的，那都是属于仿制，或者直接用的原模板，再次申明，本站模板，没有在淘宝或者其他网站售卖，请注意辨别！<br>
							<br>
							<strong>你也可以关注我的微信公众号，有最新的模板动态，我会第一时间在公众号推出。</strong></p>
						<br>
						<strong>关于我的博客</strong><br>
						<br>
						域 名：www.yangqq.com 创建于2011年01月12日&nbsp;
						<p>服务器：阿里云服务器&nbsp;&nbsp;<a
								href="https://promotion.aliyun.com/ntms/act/ambassador/sharetouser.html?userCode=8smrzoqa&amp;productCode=vm"
								target="_blank"><strong>前往阿里云官网购买&gt;&gt;</strong></a></p>

						<p>备案号：蜀ICP备11002373号-1</p>

						<p>程 序：PHP 帝国CMS7.5</p>
					</div>
				</div>
			</div>
		</div>
<!-- 自我介绍 -->
<div class="right">
		<div class="me">
			<em class="fir-line"></em><h2>关于我</h2><em class="sec-line"></em>
			<img src="/images/top.jpg" class="person">
			<div class="ab-con">
				<span>网名：shiraly</span>
				<span>职业：Web开发</span>
				<span>籍贯：河南</span>
				<span>邮箱：869582448@qq.com</span>
			</div>
		</div>
<!-- 搜搜 -->
		<div class="search">
			<input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
			<input name="show" value="title" type="hidden">
			<input name="tempid" value="1" type="hidden">
			<input name="tbname" value="news" type="hidden">
			<input name="Submit" class="input_submit" value="搜索" type="submit">
		</div>
		<div class="links">
				<em class="fir-line"></em><h2 class="ab_title">友情链接</h2><em class="sec-line"></em>
				<ul>
					<li><a href="http://www.yangqq.com" title="杨青个人博客">杨青个人博客</a></li>      
				</ul>
		</div>
		<div class="weixin">
				<em class="fir-line"></em><h2 class="ab_title">微信关注</h2><em class="sec-line"></em>
			<ul>
				<img src="/images/wei.jpg">
			</ul>
		</div>
	</div>
</div>
	<!-- footer -->
	<footer>
		<p>Design by <a href="/">杨青个人博客</a> <a href="/">蜀ICP备11002373号-1</a></p>
	</footer>
</body>

</html>